.content{
    overflow-x: auto;
    white-space: nowrap;
    height: 90vh;
}

.list{
    vertical-align: top;
    border: groove black 1px;
    border-radius: 5px;
    display:inline-block;
    padding: 10px;
    margin: 20px;
    width: 20%;
    background: #9CDFED;
    word-break: break-word;
    white-space: normal;
}

.task_list_tools{
    float: right;
    outline: none;
}

#list_settings_close{
    float: right;
    outline: none;
}

#list_settings_basket{
    float: right;
    margin-right: 5px;
    outline: none;
}

#list_settings_left_point{
    float: right;
    margin-right: 5px;
    outline: none;
}

#list_settings_right_point{
    float: right;
    margin-right: 5px;
    outline: none;
}

.task_list_title{

}

.task_list_header{
    padding-left: 5%;
    padding-right: 5%;
    font-family: Arial
}

.task_list_header:hover{
    cursor: pointer;
}

.task_list_header:focus{
    cursor: text;
}

.task_list_content{
    margin-top: -10px;
    max-height: 60vh;
    overflow-y: auto;
}

.task_list{
    margin-left: 0;
    padding-left: 0;
}

.tasks{
    background: whitesmoke;
    list-style: none;
    border-radius: 3px;
    border: groove lightseagreen 1px;
    margin: 0 5px 10px 5px;
}

.task_tools{
    float: right;
    padding-right: 5%;
}

.task_basket{
    float: right;
}

.task_name_header{
    margin-top: -10px;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 5%;
    padding-right: 5%;
    font-family: Arial;
}

.task_name_header:hover{
    cursor: pointer;
}

.task_name_header:focus{
    cursor: text;
}

.task_name_stub{
    cursor: text;
    display: none;
    font-family: Arial;
}

.description_image{
    display: none;
    float: right;
    margin-top: -20px;
    margin-right: 10px;
}

.description_image_visible{
    display: block;
}

.task_description{
    padding-left: 5%;
    padding-right: 5%;
    font-family: Arial;
    font-size: medium;
}

.task_date_creation{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 11pt;
    font-style: italic;
    color: dimgray;
}

.task_input{
    margin-top: 20px;
    padding-left: 5%;
}

.input_field{
    max-width: 95%;
    border: 0;
    outline: none;
    background: #9CDFED;
    font-size: large;
    word-break: break-word;
    font-family: Arial;
}

.input_field:hover{
    cursor: pointer;
    background: whitesmoke;

}

.input_field:focus{
    cursor: text;
    background: whitesmoke;
}

.list_input{
    display: inline-block;
    vertical-align: top;
    border: groove black 1px;
    border-radius: 5px;
    padding: 10px 10px 10px 30px;
    margin: 20px;
    width: 15%;
    background: #9CDFED;
}

.input_button{
    margin-top: 5px;
    display: none;
}

#list_settings{
    background: #9CDFED;
    z-index: 100;
    width: 120px;
    height: 32px;
    position: absolute;
    display: none;
}

#task_details_close{
    outline: none;
}
