<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Organizer</title>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/aside.css"/>
    <link rel="stylesheet" href="/css/container.css"/>
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="/css/list.css"/>
    <link rel="stylesheet" href="/css/user_profile.css"/>
    <link rel="stylesheet" href="/css/task_details.css"/>
</head>
<body>
<div id="root" class="container">
    <div class="header">
        <form class="user_profile" th:action="@{/logout}" method="post">
            <input id="exit_button" type="submit" value="Sign Out"/>
        </form>
        <div>
            <img th:src="@{/images/logo.png}"/>
        </div>
    </div>
    <!--<div class="aside"></div>-->
    <div id="content" class="content">
        <div :id="'list_' + taskList.listId" class="list droppable_task"
             v-for="taskList in lists">
            <div class="task_list_title">
                <input class="task_list_tools"
                       :id="'task_list_tools_' + taskList.listId"
                       type="image"
                       src="/images/settings_dots.png"
                       @click="showListSettings(taskList.listId)"
                       width="24px"
                       height="24px"/>
                <br>
                <h4 class="task_list_header" :id="'list_' + taskList.listId + '_header'"
                    @click="updateListNameStart(taskList.listId, $event)"
                    @focus="saveInputValueName($event)"
                    @keydown="updateListNameEnd(taskList.listId, $event)"
                    @blur="updateListNameEnd(taskList.listId, $event)"
                    contenteditable="true">{{taskList.name}}</h4>
            </div>
            <div class="task_list_content">
                <ul class="task_list">
                    <li :id="'task_' + task.id + 'in_list_' + taskList.listId"
                        class="tasks draggable_task"
                        v-for="task in taskList.tasks">
                        <input class="task_tools"
                               :id="'task_tools_' + task"
                               type="image"
                               src="/images/settings_dots.png"
                               @click="showTaskTools(taskList.listId, task.id)"
                               width="20px"
                               height="20px">
                        <br><br>
                        <p class="task_name_header" :id="'task_' + task.id + 'in_list_' + taskList.listId + '_header'"
                            @click="updateTaskNameBegin(task.id, taskList.listId)">{{task.name}}</p>
                        <p class="task_name_stub task_name_header"
                            :id="'task_' + task.id + 'in_list_' + taskList.listId + '_stub'"
                            @keypress="updateTaskNameEnd(task.id, taskList.listId, $event)"
                            @blur="updateTaskNameEnd(task.id, taskList.listId, $event)"
                            @focus="saveInputValueName($event)"
                            contenteditable="true">{{task.name}}</p>
                        <p class="task_date_creation">{{timeago().format(task.date)}}</p>
                        <img class="description_image"
                             :class="{description_image_visible: task.description !== ''}"
                             th:src="@{/images/description.png}">
                    </li>
                </ul>
            </div>
            <div class="task_input">
                <input :id="'task_input_' + taskList.listId"
                       class="input_field"
                       placeholder="New task..."
                       @keydown="addTask(taskList.listId, $event)"
                       @click="onClickInputTask(taskList.listId)"
                       @blur="onBlurInputTask(taskList.listId)">
                <button class="input_button" :id="'task_input_button_' + taskList.listId"
                        @click="addTask(taskList.listId, $event)">Add task</button>
            </div>
        </div>

        <div class="list_input">
            <input id="list_input"
                   class="input_field"
                   placeholder="New list..."
                   @keydown="addList($event)"
                   @click="onClickInputList()"
                   @blur="onBlurInputList()">
            <button class="input_button" id="list_input_button"
                    @click="addList($event)">Add List</button>
        </div>

        <div id="list_settings"
             @blur="blurListSettings()">
            <input id="list_settings_close"
                   type="image"
                   src="/images/close.png"
                   width="24px"
                   height="24px"/>
            <input id="list_settings_basket"
                   type="image"
                   src="/images/basket.png"
                   width="24px"
                   height="24px"/>
            <input id="list_settings_right_point"
                   type="image"
                   src="/images/right_point.png"
                   width="24px"
                   height="24px"/>
            <input id="list_settings_left_point"
                   type="image"
                   src="/images/left_point.png"
                   width="24px"
                   height="24px"/>
        </div>

        <div id="modal_form">
            <span id="modal_close">
                <input id="task_details_close"
                       type="image"
                       src="/images/close.png"
                       width="24px"
                       height="24px">
            </span>
            <h4>
                Description:
            </h4>
            <textarea id="task_description"></textarea>
            <input id="task_basket"
                   class="task_basket"
                   type="image"
                   src="/images/basket.png"
                   width="24px"
                   height="24px">
            <input id="task_description_button"
                   type="button" value="Save">
        </div>
        <div id="overlay"></div>
    </div>
</div>
</body>
<!--Axios - Promise based HTTP client-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<!--Vue - JS Framework-->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!--JQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--timeago - library for formatting date to nice view-->
<script th:src="@{/js/lib/timeago.min.js}"></script>
<!--Drag`n`Drop-->
<script th:src="@{/js/DragManager.js}"></script>


<script th:src="@{/js/tasks.js}"></script>
<script th:src="@{/js/listSettings.js}"></script>
<script th:src="@{/js/taskDetails.js}"></script>
</html>